@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f9fc;
  /* background: #635BFF; */
}

  /* Control Panel Styling*/

  .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .2s;
    border-radius: 34px;
    cursor: pointer;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 14px; width: 14px;
    left: 3px; top: 3px;
    background-color: white;
    transition: .2s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: black; 
  }

  input:checked + .slider:before {
    transform: translateX(16px);
  }